header{
    text-align: center;
}
.contenedor{
    background-color: gray;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px;
}
.enlaces{    
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    /* border: 1px solid black; */
    height: 30px;        
}









/* Consigna 8 */
.granContenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noGranContenedor{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.noGranContenedor>.contenedorTres,.contenedorUno,.contenedorDos{
    width: 400px;
    background-color: cyan;
    margin: 15px;
    text-align: center;
}
.ejemplo{
    background-color: purple;
    height: 50px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}
.contenedorTres{
    padding-top: 15px;
    
}
.contenedorTres>button{
    height: 22px;
}

